<div class="container col-md-10 col-md-offset-2">
<div class="row">
  <div class="col-md-offset-4">
    <h3 style="float:middle;"> <b> <%= @article.title %> </b> </h3>
  </div>
</div>

<div class="row">
  <h4 class="col-md-2"> <strong> Description: </strong> </h4>
  <div class="well col-md-7">
    <%= simple_format(@article.description) %>
  </div>
</div>

<div class="row">
  <div class="col-md-2"> <strong> Categories: </strong> </div>
  <div class="col-md-8">
  <p>
    <% if @article.categories.any? %>
      <p><%= render @article.categories %></p>
    <% end %>
  </p>
  </div>
</div>

<div class="row col-md-10">
  <% if @article.user %>
    <div class="row">
      <div class="col-md-2">
        <b>Created by:</b>
      </div>
      <div class="col-md-2">
        <small> <%= link_to gravatar_for(@article.user), user_path(@article.user) %> </small>
      </div>
      <div class="col-md-4">
        <%= link_to @article.user.username, user_path(@article.user) %> <br>
        <small> <%= pluralize(@article.user.articles.count, 'article') if @article.user.articles %> </small>
      </div>
    </div>
  <% end %>
  <br>
  <div class="article-actions center">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-sm btn-primary" %>
      <%= link_to 'Delete Article', article_path(@article), class: "btn btn-sm btn-danger",
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
    <% end %>
    <%= link_to 'View all Articles', articles_path, class: "btn btn-sm btn-success" %>
  </div>
</div>
</div>